.team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__card {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin: 15px;
      flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 120px) / 4);
    }
  }

  &__photo {
    width: 100%;
  }

  &__meta {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: 1200px) {
      padding-bottom: 30px;
    }
  }

  &__name,
  &__role {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
  }
  &__role {
    color: var(--sec-text-color);
    margin-bottom: 16px;
  }
}
