:root {
  --main-text-color: #212121;
  --sec-text-color: #757575;
  --accent: #2196f3;
  --accent-opacity: rgba(33, 149, 243, 0.6);
  --white: #ffffff;
  --white-opacity: rgba(255, 255, 255, 0.6);
  --alt-bg: #2f303a;
  --secondary-bg: #f5f4fa;
  --button-bg-hover: #188ce8;
  --icon-color: #afb1b8;
}
